@import url("https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600&family=Poppins:wght@500&family=Raleway:wght@600&display=swap");

/* Common styls / utilities */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  /* height: 100vh; */
  background-image: url("./images/cloud.png");
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

nav {
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.logo img {
  transition: 0.5s linear;
}
.logo:hover img {
  transform: translateX(15px) scale(1.1);
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px 16px;
}

.navbar ul li:hover a {
  color: rgb(255, 6, 6);
}

/* Banner start */
.banner {
  height: calc(100vh - 80px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.banner-left {
  flex: 1;
}

.banner-right {
  flex: 1;
}

.banner-right img {
  width: 80%;
  /* border: 5px solid #ff008e; */
  border-radius: 20px;
  margin-left: 70px;
}

.button-style {
  outline: 0;
  padding: 12px 15px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ff008e;
  border: 2px solid #ff008e;
  box-shadow: 0px 7px 50px #e01886;

  position: relative;
  top: 0px;
}

.button-style:active {
  top: 5px;
  background-color: transparent;
}

.banner-heading {
  color: white;
  font-size: 40px;
}

span {
  color: #ff008e;
  font-weight: bold;
}

.banner-para {
  margin: 25px 0px;
  color: #f8f8f8;
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
}

/* ======================= Feature start====================== */

#feature {
  margin-top: 50px;
}

.section-title .highlight {
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  /* text-decoration: underline red 2px; */
}

.all-card {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.fa-icon {
  font-size: 80px;
}

.card-heading {
  font-weight: bold;
  margin-top: 10px;
}

.card-para {
  /* text-align: center; */
  margin-top: 20px;
  line-height: 1.5;
}

.card-button {
  margin-top: 20px;
  outline: 0;
  padding: 8px 8px;
  border-radius: 20px;
  cursor: pointer;
  border: none;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ff008e;
  border: 1px solid #ff008e;
  box-shadow: 0px 7px 50px #e01886;
  position: relative;
  top: 0px;
}

.card-button:active {
  color: #ff008e;
  top: 5px;
  background-color: transparent;
}
